<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Promos</h1>
	<a href="/promozioni/create">Create promo</a>
	
	<ul>
		<li th:each="promo : ${promos}" th:object="${promo}">
			[[*{id}]] - [[*{title}]]
			<div>
				<a th:href="@{/promozioni/delete/{id} (id = ${promo.id})}">Delete</a>
			</div>
			<ul>
				<li th:each="pizza : ${promo.getPizza()}" th:object="${pizza}">
					[[*{id}]] - [[*{name}]]
				</li>
			</ul>
		</li>
	</ul>
	
	<h1>Pizzas</h1>
	<a href="/promozioni/create/pizza-promo">Create pizza with promo</a>
	<ul>
		<li th:each="pizza : ${pizzas}" th:object="${pizza}">
			[[*{id}]] - [[*{name}]]
			<ul>
				<li th:each="promo : *{getPromotions()}" th:object="${promo}">
					[[*{id}]] - [[*{title}]]
				</li>
			</ul>
		</li>
	</ul>
	
</body>
</html>