<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<h1>Search</h1>
	<form method="GET">
		<label>Name:</label>
		<br>
		<input name="query" th:value="${query}">
		
		<button type="submit">Search</button>
	</form>
	
	<ul>
		<li th:each="obj : ${objs}" th:object="${obj}">
			[[ *{id} ]] - [[ *{name} ]] - [[ *{price} ]] $
			<div th:insert="frag :: list(${routePizza}, *{id})"></div>
		</li>
	</ul>
	<ul>
		<li th:each="obj : ${pizzas}" th:object="${obj}">
			[[ *{id} ]] - [[ *{name} ]] - [[ *{price} ]] $
			<div th:insert="frag :: list(${routePizza}, *{id})"></div>
		</li>
	</ul>
	
	<ul>
		<li th:each="obj : ${drinks}" th:object="${obj}">
			[[ *{id} ]] - [[ *{name} ]] - [[ *{price} ]] $
			<div th:insert="frag :: list(${routeDrinks}, *{id})"></div>
		</li>
	</ul>

</body>
</html>